@import "../../config/variable.scss";
.required-color {
  color: $red;
  font-family: "Poppins Medium";
  font-size: 12px;
}
.border-red {
  border-color: $red;
}
.disabled {
  background-color: $disabled;
  color: $primary;
  cursor: default;
}

label {
  font-size: 14px;
}
input,
.form-control,
.input-group-text svg,
.input-group-text,
select {
  font-family: "Poppins Regular";
  font-size: 14px;
}

.file-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;

  label {
    display: inline-block;
    position: absolute;
    margin: 0;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    cursor: pointer;

    &::after {
      display: none;
    }
  }

  input {
    display: none;
  }
}
