$primary: #392396;
$secondary: #9389be;
$tertiary: #838383;
$lightBlue: #384364;
$lightGrey: #e5e5e6;
$line: #e5e5e674;
$disabled: #dddddd;
$tableShadow: #ebebec;
$backdrop: #f7f8fc80;
$red: #f44336;
$dark: #000000;
$white: #ffffff;
